
*{

    box-sizing: border-box;
    /* border: 1px solid red; */
}


body{
    margin:0;
}

.excel-header{

    height:25px;
    background-color: rgb(37, 134, 37);
    text-align: center;
    color: whitesmoke;
    padding-top: 0.3rem;
}




/* **********************menu container ************************************* */

/* here everything is fixed so we use pixel and not vh or % */
.menu-container{
    height: 80px;
    background-color:#f6f6f6;
    display:flex;
    align-items: center;
    padding-left: 1.5rem;
}

/* all children of menu conatiner will get this style */
.menu-container>*{
    height: 80%;
    /* width: 20%; */
    border-right: 2px solid;
}

.formatting-container{
    width:25%;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: space-evenly;
}


.subgroup{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subgroup>*{
    width:100%;
}


.BUI-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40%;
    
}

.BUI-container>*{
    width: 30%;
    border:none;
    text-decoration: none;
    font-weight: 600;
    background-color:#f6f6f6;
}

.italicClass{

    font-style:italic;

}

.underlineClass{

    text-decoration: underline;
}

.active-btn{

    background-color: rgb(220, 224, 253);
    border: 1px 1px 1px 1px solid black;
    color:rgb(100, 96, 96);
}

.BUI-container>*:hover{

    background-color: #eeeeee;

}



.color-container{
    width:100%;
    height: 40%;
    display:flex;
    justify-content: space-evenly;
}

.color-container>*{

    width: 40%;
    padding:0;
    margin:0;
    /* border-radius: 100%; */
     /* height: 60px; */
    /* width: 60px; */
    border: none;
    outline: none;
    
}

.color-container>*:hover{
    background-color: #eeeeee;
}

.text-color-container, .bg-color-container{

    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;    
    align-items: center;
    
    
    
}

.text-color{

    height: 60%;
}

.color-icon{

    width:inherit;
    height:14px;
}

input[type="color" i] {
    
    height: 110%;
    width: 80%;
    background-color: #f6f6f6;
    border-width: 0px;
    /* border-style: none; */
    outline: none;
    padding: 0px;
}


.alignment-container{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment-container>*{
    width: 20%;
}

.alignment-container>*:hover{
    background-color: #eeeeee;
}

.alignBtn{

    width: 15%;
    height:50%;
    margin: 6% ;
    padding: 5px 5px;
}

.file-container{

    width:15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.file-container>*{
    width: 20%;
}


.file-icon{
    font-size: 30px;
}


/* ********************** formula container ************************ */
.formula-container{
    height: 30px;
    background-color: #e6e1e1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.address-box{
    width: 10%;
}

.separator{
    width: 2%;
}


.formula-box{
    width: 80%;
   
}






/* ************************ grid container ****************************************** */

.grid_container{
    position: relative;
    height: calc(100vh - ( 80px + 30px + 30px + 25px) ) ;
    overflow: auto;
    
}

.top-left-block{
    height: 30px;
    width: 25px;
    background-color: rgb(216, 213, 213);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.top-row{
    
    height:30px;
    background-color: #cecaca;
    display:flex;
    position:absolute;
    top:0px;
    left:26px;
    z-index: 90;
    text-align: center;
    
}


.row{
    display:flex;
    
    
}
.col{
    min-width: 80px;
    max-width: 80px;
    border: 1px solid gray;
    min-height: 30px;
    
}

.left-col{
    width: 25px;
    
    position: absolute;
    top: 30px;
    left:0px;
    z-index: 90;
}

.grid{
    position: absolute;
    top: 30px;
    left:25px;
}

.left-col-box{
    height: 30px;
    background-color: #cecaca;
    text-align: center;
    border: 1px solid gray;
}


/* ***************************** sheet container ************************************* */
.sheets{
    height:30px;
    background-color: rgb(163, 169, 180);
    display: flex;
   
   
}

.add_sheet_container{

    width:30px;
    height: 100%;
    text-align: center;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.icon{
    font-size: 1.2rem ;
    color:rgb(5, 128, 66);
}

.sheets_list{

    /* overflow-x: auto; */
    display: flex;
    height: 100%;
    overflow: auto;
    
}

/* remove scroll display */
.sheets_list::-webkit-scrollbar {
    display: none;
  }

/* always keep a min width on the child whose parent is to made overfloe */
.sheet{
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color:rgb(5, 128, 66);
    font-weight: 600;
}

.active_sheet{
    background-color: whitesmoke;
}